@model QuoteGeneratorApp.Models.Quote
@{ 
    Layout = null;
}
@{
    ViewData["Title"] = "Quotes";
    var quote = Model;
}

<h1>@ViewData["Title"]</h1>

<html>
<head>
    <meta name="viewport" content="width-device-width" />
</head>
<body>
    <div>
        <p>@quote.Author Says</p> <p>@quote.QuoteBody</p> <p>At @quote.When</p>
    </div>
</body>
</html>

